{{#each blogposts as |blogpost|}}


  <div class="shown-blogpost">
    <h5 class="card-header">{{blogpost.title}}</h5>
    <div class="card mb-3">
      <img class="card-img-top" src="{{blogpost.img_url}}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">{{blogpost.description}}</p>
        <p class="card-text"><small class="text-muted">{{blogpost.time}}</small></p>
        <p class="card-text">{{blogpost.owner}}</p>
      </div>
      <div class="card-footer text-right">
        <button type="submit" class="btn btn-warning">Update</button>
        <button type="submit" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
  <br>


{{/each}}
