{{#each websites as |website|}}
  {{log website}}

  <div class="shown-website">
    <h5 data-id="{{website._id}}" class="card-header">{{website.title}}</h5>
    <section data-id="{{website._id}}">
    <!-- <div class="card mb-3"> -->
      <div class="card-body">
        <p id='message'></p>
        <p class="card-text">{{website.text}}</p>
        <p class="card-text">{{website.company}}</p>
      </div>
      <div id="website-actions" class="card-footer text-right">
        <!-- <button type="submit" class="btn btn-warning">Update</button> -->
        <button type="submit" class="btn btn-danger">Delete</button>
      </div>
    </div>
    </section>
  </div>
  <br>

{{/each}}
