{{#each websites as |website|}}


  <div class="shown-website">
    <h5 data-id="{{website._id}}" class="card-header">{{website.title}}</h5>
    <section data-id="{{website._id}}">
    <!-- <div class="card mb-3"> -->
      <div class="card-body">
        <p id='message'></p>
        <p class="card-text">{{website.text}}</p>
        <p class="card-text">{{website.company}}</p>
      </div>
      <div id="website-actions" class="card-footer text-right">
        <button type="button" class="update-website-btn update-btn btn btn-primary" data-toggle="modal"
          data-target="#updateModal{{website._id}}">Update</button>

          <div class="modal fade" id="updateModal{{website._id}}">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="updateModalLabel">Update Website</h5>
                  <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                  <!--update website form-->
                  <p id="update-website-message"></p>

                  <form class="update-website-form">
                    <div class="form-group">
                      <input class="form-control" type="text" name="website[title]"
                       placeholder="Website Title">
                    </div>
                    <div class="form-group">
                      <input class="form-control" type="text" name="website[company]"
                       placeholder="Website Company">
                    </div>
                    <div class="form-group">
                      <input class="form-control" type="text" name="website[text]"
                       placeholder="Website Description">
                    </div>
                    <button type="submit" class="btn btn-warning">Update Website</button>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="close-modal btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
                  <!-- update website form -->
        <button type="submit" class="delete-website-btn delete-btn btn btn-danger">Delete</button>
      </div>
    </div>
    </section>
  </div>
  <br>

{{/each}}
